html {
    width: 375px;
}

header {
    box-shadow: 10px 0 10px rgba(0,0,0,0.3);
}

.logo {
    display: block;
    width: 96px;
    height: 20px;
    margin: 0px auto;
    padding: 12px;
}

.list {
    margin: 0;
    padding: 0;
}

.item {
    display: inline-block;
    margin: 0 auto;
    padding: 2px;
    list-style: none;
}
